extends baseEmail 
block content
    p Hi #{firstname},
    p Welcome to Natours, we're glad to have you 🎉🙏
    p FORGOT YOUR PASSWORD ? SUBMIT  A PATCH REQUEST WITH YOUR NEW PASSWORD AND PASSWORD CONFIRM TO : #{url}
    p website is not ye implemented 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Change Password 
    p If you didn't want to forget your password ignore this email 